@import "./global.css";

.opinions {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white-page);
}

.content_card_opinion {
    width: 100%;
    /* max-width: 1000px; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
}

.content_card_opinion h2 {
    font-size: var(--font-24-big);
    text-transform: uppercase;
    color: var(--total-black);
    letter-spacing: 0.4px;
    line-height: inherit;
    margin-bottom: 0px !important;
    font-weight: 500;
    text-align: center;
}

.card_opinion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}
.content_image {
    width: 100%;
    height: 200px;
    position: relative;
}
.content_image img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    object-position: center;
}
.description_opinion {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(31, 30, 30, 0.288);
}

.stars_opinion {
    width: 100%;
    height: auto;
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
    background-color: rgba(5, 5, 5, 0.288);

}
.stars_opinion span {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../icons/start-yellow.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.stars_opinion p {
    margin: 0 0 0px 4px !important;
    font-size: var(--font-14-medium);
    font-weight: 600;
    color: var(--total-black);
    
}
.stars_opinion h3 {
    margin: 0 0 0 4px !important;
    font-size: var(--font-18-medium);
    letter-spacing: 0.4px;
    color: var(--white-page);
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
}

.content_text_opinion {
    width: 80%;
    max-width: 800px;
    margin: -40px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: solid 1px var(--detalle-grey); */
    border-radius: 6px;
    position: relative;
    background-color: var(--white-page);
    padding: 12px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.185);
}
.content_text_opinion .stars_opinion {
    background-color: transparent;
    padding: 0;
}
.content_text_opinion p {
    font-size: var(--font-14-medium);
}

.client_opinion {
    margin-top: 8px !important;
}

@media screen and (min-width: 700px) and (min-height: 510px) {
    .content_card_opinion {
        gap: 40px;
    }
    .content_card_opinion h2 {
        font-size: var(--font-28-big);
        letter-spacing: 0.8px;
    }
    .content_image {
        height: 300px;
    }
    .stars_opinion span {
        width: 16px;
        height: 16px;
    }
    .stars_opinion h3 {
        margin: 0 0 0 8px !important;
        font-size: var(--font-2-medium);
    }
    .content_text_opinion {
        width: 70%;
        margin: -60px 0 30px;
        padding: 20px;
    }

    .content_text_opinion p {
        font-size: var(--font-18-medium);
    }
    .stars_opinion p {
        margin: 0 0 0px 8px !important;
    }
}

@media screen and (min-width: 1200px) {
    .card_opinion {
        flex-direction: row;
        align-items: flex-start;
    }

    .content_image {
        width: 60%;
        height: 450px;
    }
    .content_text_opinion {
        width: 40%;
        margin: 130px 0 30px -200px;
        padding: 20px;
    }
    .content_text_opinion p {
        font-size: var(--font-16-medium);
    }
    .second_card {
        flex-direction: row-reverse;
    }

    .second_card .content_text_opinion {
        width: 40%;
        margin: 260px -280px 30px 0;
        padding: 20px;
    }
    
}

@media screen and (min-width: 1900px) {
    .content_card_opinion h2 {
        font-size: var(--font-3-big);
        letter-spacing: 1px;
    }
    .content_image {
        width: 60%;
        height: 500px;
    }
    .stars_opinion {
        padding: 14px 24px;
    }
    .stars_opinion span {
        width: 18px;
        height: 18px;
    }
    .stars_opinion h3 {
        margin: 0 0 0 10px !important;
        font-size: var(--font-24-big);
    }
    .content_text_opinion {
        border-radius: 8px;
        padding: 24px;
    }
    .content_text_opinion p {
        font-size: var(--font-2-medium);
    }
}