@import "./global.css";

.roons {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 48px 0;
    background-color: var(--white-page);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.confort{
    width: 80%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.confort h2 {
    font-size: var(--font-24-big);
    text-transform: uppercase;
    color: var(--total-black);
    letter-spacing: 0.4px;
    line-height: inherit;
    margin-bottom: 20px;
    font-weight: 500;
}

.confort p {
    font-size: var(--font-16-medium);
    margin-bottom: 20px;
    line-height: inherit;
}

.slider_content {
    width: 80%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.slider_text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.slider_text h3 {
    font-size: var(--font-2-medium);
    text-transform: capitalize;
    color: var(--total-black);
    line-height: inherit;
    margin-bottom: 12px;
    font-weight: 500;
}

.slider_text p {
    font-size: var(--font-14-medium);
    margin-bottom: 20px;
    line-height: inherit;
}

.slider_text a {
    text-decoration: none;
    color: var(--total-black);
    font-size: var(--font-16-medium);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    padding: 6px 14px;
    border: solid 2px var(--total-black);
}

.carousel {
    height: 220px;
}
.carousel-item {
    width: 100%;
    height: 220px;
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: var(--trasparent-color-blue);
    border-radius: 50%;
}

.absolute_over {
    width: 100%;
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--white-page);
}
.absolute_over img {
    display: flex;
    width: 300px;
    height: 80px;
    object-fit: cover;
}
.absolute_hidden {
    width: 0px;
    opacity: 0.4;
    transition: all 1s ease-in-out;
}

@media screen and (min-width: 700px) and (min-height: 510px) {
    .roons {
        padding: 60px 0 68px;
    }
    .confort h2 {
        font-size: var(--font-28-big);
        letter-spacing: 0.8px;
        margin-bottom: 28px;
    }
    .confort p {
        font-size: var(--font-18-medium);
        margin-bottom: 28px;
    }
    .slider_content {
        gap: 40px;
    }
    .slider_text h3 {
        font-size: var(--font-24-big);
        margin-bottom: 20px;
        letter-spacing: 0.4px;
    }
    .slider_text p {
        font-size: var(--font-18-medium);
        margin-bottom: 20px;
    }
    .slider_text a {
        font-size: var(--font-2-medium);
        padding: 8px 28px;
    }
    .carousel {
        width: 100%;
        height: 360px;
    }
    .carousel-item {
        height: 360px;
    }
    .absolute_over {
        height: 520px;
    }
}

@media screen and (min-width: 800px) and (max-height: 500px) {
    .slider_content {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .slider_text {
        width: auto;
    }
    .carousel {
        width: 50%;
    }

    .absolute_hidden {
        transition: all 3s ease-in-out;
    }
}

@media screen and (min-width: 1000px) {
    .slider_content {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 900px;
    }
    .slider_text {
        width: auto;
    }
    .carousel {
        width: 50%;
    }
}

@media screen and (min-width: 1900px) {
    .confort h2 {
        font-size: var(--font-3-big);
        letter-spacing: 1px;
        margin-bottom: 36px;
    }
    .confort p {
        font-size: var(--font-2-medium);
        margin-bottom: 36px;
    }

    .slider_text h3 {
        font-size: var(--font-28-big);
        margin-bottom: 28px;
    }
    .slider_text p {
        font-size: var(--font-2-medium);
        margin-bottom: 28px;
        text-align: center;
    }
    .slider_text a {
        font-size: var(--font-24-big);
        padding: 10px 40px;
    }
}