@import "./global.css";

.services {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.figure_to_action {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(64% 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: #efefef;
    z-index: 1;
}
.transfers {
    background-color: var(--white-page);
}
.transfers .bg_solid{
    padding: 80px 5% 32px;
    z-index: 8;
    background-color: transparent;
}

.bg_solid {
    width: 100%;
    background-color: var(--white-page);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 60px;
}
.service_content {
    width: 90%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}

.service_content h2 {
    font-size: var(--font-24-big);
    text-transform: uppercase;
    color: var(--total-black);
    letter-spacing: 0.4px;
    line-height: inherit;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.service_content h3 {
    font-size: var(--font-2-medium);
    color: var(--total-black);
    line-height: inherit;
    margin-bottom: 12px;
    font-weight: 500;
    text-align: center;
}

.service_content h4 {
    font-size: var(--font-18-medium);
    color: var(--total-black);
    line-height: inherit;
    font-weight: normal;
    margin-bottom: 12px;
}

.description_service {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.description_service p {
    font-size: var(--font-16-medium);
    margin-bottom: 20px;
    line-height: inherit;
}

.content_mural {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 12px 0;
}

.alining_left, .alining_right {
    width: 154px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 160px;
    z-index: 5;
    overflow-y: hidden;
}

.alining_left ul li, .alining_right ul li {
    font-size: var(--font-14-medium);
}

.alining_left ul .description, .alining_right ul .description {
    margin-top: 8px !important;
}

.alining_right ul li {
    text-align: right;
}

.image_mural {
    width: 300px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 150px);
    z-index: 1;
}
.image_mural img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.content_image_all_services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px
}

.all_services_top img, .all_services_bottom img {
    object-fit: cover;
    display: flex;
    object-position: center;
}

.all_services_top {
    width: 100%;
    height: 160px;
    display: flex;
    gap: 8px;
}
.img_left {
    width: 60%;
    height: 100%;
}
.img_center, .img_right {
    width: 20%;
    height: 100%;
}
.all_services_bottom {
    width: 100%;
    height: 130px;
    display: flex;
    gap: 8px;
}

.service_content p {
    font-size: var(--font-16-medium);
    margin-bottom: 8px;
    line-height: inherit;
}

.service_content p a {
    font-weight: 500;
    color: var(--total-black);
}

.last_service {
    margin-top: 20px !important;
}

.content_icon_service {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 48px 0;
    background-color: var(--trasparent-color-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.icons_service {
    width: 90%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.icons_service h2 {
    font-size: var(--font-24-big);
    text-transform: uppercase;
    color: var(--white-page);
    letter-spacing: 0.4px;
    line-height: inherit;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.icons_service ul {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 12px 20px;
    padding: 0 4% !important;
}

.icons_service ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
    font-size: var(--font-16-medium);
    color: var(--white-page);
}
.icons_service ul li span {
    display: block;
    min-width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

.secador {
    background-image: url(../icons/hairdryer-on-2-svgrepo-com.svg);
}
.shampoo {
    background-image: url(../icons/shampoo-free-5-svgrepo-com.svg);
}

.lavadora {
    background-image: url(../icons/washing-machine-laundry-cleaning-housekeeping-washing-svgrepo-com.svg);
}
.perchas {
    background-image: url(../icons/hanger-svgrepo-com.svg);
}

.plancha {
    background-image: url(../icons/iron-svgrepo-com.svg);
}
.zona_trabajo {
    background-image: url(../icons/bureau-svgrepo-com.svg);
}
.cubiertos {
    background-image: url(../icons/cutlery-plate-svgrepo-com.svg);
}
.patio {
    background-image: url(../icons/flower-svgrepo-com.svg);
}
.parking {
    background-image: url(../icons/parking-garage-svgrepo-com.svg);
}
.llave {
    background-image: url(../icons/key-svgrepo-com.svg);
}

.flexi_transfer {
    width: 100%;
    margin-top: 12px;
}

.transfer_item {
  width: 100%;
  padding: 6px 32px 6px 12px;
  clip-path: polygon(0% 0%, 100% 0, 95% 51%, 100% 100%, 0% 100%);
  border-radius: 8px 0 0 8px;
}

.four_person {
    background-color: #fbf4e1;
}

.plus_four_person {
    background-color: #e1ebfb;
}
.bg_solid_information {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: var(--font-16-medium);
    color: var(--total-black);
    font-weight: 600;
    padding: 6px 14px;
    border: solid 2px var(--total-black);
    margin: 28px 0 12px;
}

.bg_solid_information span {
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../icons/arrow-black.svg);
}
@media screen and (min-width: 400px) {
   .service_content {
        width: 80%;
    }
    .icons_service {
        width: 80%;
    }
}

@media screen and (min-width: 700px) and (min-height: 510px) {
    
    .icons_service {
        width: 70%;
    }
    .service_content h2 {
        font-size: var(--font-28-big);
        letter-spacing: 0.8px;
        margin-bottom: 28px;
    }
    .service_content h3 {
        font-size: var(--font-24-big);
        margin-bottom: 20px;
    }

    .service_content h4 {
        font-size: var(--font-24-big);
        margin-bottom: 20px;
    }
    .description_service {
        margin-bottom: 40px;
    }
    .service_content p {
        font-size: var(--font-18-medium);
        margin-bottom: 20px;
    }

    .content_mural {
        height: 560px;
    }
    .image_mural {
        width: 600px;
        height: 200px;
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 300px);
        z-index: 1;
    }

    .alining_left, .alining_right {
        width: 260px;
        gap: 260px;
    }

    .alining_left ul li, .alining_right ul li {
        font-size: var(--font-18-medium);
    }

    .content_image_all_services {
        gap: 10px;
        margin-bottom: 40px;
    }

    .all_services_top {
        width: 100%;
        height: 220px;
        display: flex;
        gap: 10px;
    }
    .all_services_bottom {
        width: 100%;
        height: 220px;
        display: flex;
        gap: 10px;
    }

    .content_icon_service {
        padding: 60px 0;
    }

    .icons_service h2 {
        font-size: var(--font-28-big);
        letter-spacing: 0.8px;
        margin-bottom: 40px;
    }

    .icons_service ul {
        gap: 20px 60px;
    }
    .icons_service ul li {
        gap: 16px;
        font-size: var(--font-18-medium);
    }
    .icons_service ul li span {
        width: 28px;
        height: 28px;
    }
    .flexi_transfer {
        width: 100%;
        margin-top: 20px;
    }
    
    .transfer_item {
      width: 100%;
      padding: 8px 32px 8px 20px;
      clip-path: polygon(0% 0%, 100% 0, 95% 51%, 100% 100%, 0% 100%);
      border-radius: 8px 0 0 8px;
    }
    .bg_solid_information {
        font-size: var(--font-2-medium);
        padding: 8px 28px;
    }
}

@media screen and (min-width: 800px) and (max-height: 500px) {
    .image_mural {
        width: 480px;
        height: 150px;
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 240px);
        z-index: 1;
    }

    .content_mural {
        width: 100%;
        height: 360px;
        padding: 0;
    }
    .alining_left, .alining_right {
        width: 300px;
        gap: 200px;

    }

    .content_image_all_services {
        flex-direction: row;
        justify-content: center;
    }

    .all_services_top {
        width: 100%;
        height: 200px;
        display: flex;
        gap: 8px;
    }
    .all_services_bottom {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .icons_service ul {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 12px 24px;
        padding: 0 !important;
    }
   
}

@media screen and (min-width: 1000px) {
    .all_services_top {
        height: 250px;
    }

    .all_services_bottom {
        height: 280px;
    }

    .icons_service ul {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 16px 24px;
        padding: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    .image_mural {
        width: 720px;
        height: 180px;
        position: absolute;
        top: calc(50% - 90px);
        left: calc(50% - 360px);
        z-index: 1;
    }

    .content_mural {
        height: 480px;
    }
    .alining_left, .alining_right {
        width: 330px;
        gap: 246px;
    }

    .content_image_all_services {
        flex-direction: row;
        justify-content: center;
    }

    .all_services_top {
        width: 100%;
        height: 250px;
        display: flex;
        gap: 8px;
    }
    .all_services_bottom {
        width: 230px;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .icons_service {
        max-width: 900px;
    }

    .icons_service ul {
        gap: 30px 24px;
    }
    .icons_service ul li span {
        width: 32px;
        height: 32px;
    }
    .icons_service ul li {
        gap: 14px;
        font-size: var(--font-2-medium);
    }
    .content_flexi_transfer {
        width: 94%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        
    }
    .flexi_transfer {
        width: 75%;
        margin-top: 0px;
    }
    .second_flexi {
        width: 25%;
    }

    .content_transfer_item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }
    .bg_solid_information {
        margin: 40px 0 30px;
    }
}

@media screen and (min-width: 1900px) {
    .service_content h2 {
        font-size: var(--font-3-big);
        letter-spacing: 1px;
        margin-bottom: 36px;
    }
   
    .service_content h3 {
        font-size: var(--font-24-big);
        margin-bottom: 28px;
    }

    .description_service {
        margin-bottom: 60px;
    }
    .service_content p {
        font-size: var(--font-2-medium);
        margin-bottom: 28px;
    }

    .content_mural {
        height: 530px;
    }

    .alining_left ul li, .alining_right ul li {
        font-size: var(--font-2-medium);
    }

    .content_image_all_services {
        gap: 12px;
        margin-bottom: 60px;
    }
    .all_services_top {
        width: 100%;
        height: 300px;
        display: flex;
        gap: 12px;
    }
    .all_services_bottom {
        width: 288px;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .icons_service {
        max-width: 1100px;
    }

    .icons_service h2 {
        font-size: var(--font-3-big);
        letter-spacing: 1px;
    }
    .transfers .bg_solid {
        padding: 60px 0 36px;
    }

    .transfers .description_service {
        margin-bottom: 20px;
    }
}